<div class="login">
  <div class="container">
    <h1>LOGIN</h1>

    <div class="inputGroup">
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div>
          <label>帳號：</label>
          <p class="errors" *ngIf="f.email.errors">
            <span *ngIf="f.email.errors.required">此欄為必填</span>
            <span *ngIf="f.email.errors.email">請輸入正確的信箱格式</span>
          </p>
          <input
            type="email"
            formControlName="email"
            placeholder="name@email.com"
            [ngClass]="{ 'errors':f.email.errors }"
          />
        </div>

        <div>
          <label>密碼： </label>
          <p class="errors" *ngIf="f.password.errors">
            <span *ngIf="f.password.errors.required">此欄為必填</span>
            <span *ngIf="f.password.errors.minlength">密碼不得小於 6 字元</span>
          </p>
          <input
            type="password"
            formControlName="password"
            placeholder="請輸入密碼"
            [ngClass]="{ 'errors':f.password.errors }"
          />
        </div>

        <div>
          <label
            >電話：
            <input
              type="tel"
              name="tel"
              class="tel"
              placeholder="0912-345678"
            />
          </label>
        </div>
      </form>

      <button class="btn btnLogin">登入</button>
    </div>
  </div>
  <pre>{{ loginForm.value | json }}</pre>
</div>
